// kolory tła
$bg-color-light: #f7f9f9;
$bg-color-dark: #0d1317;

//kolory czcionek
$font-color-light: #dfdfdf;
$font-color-dark: #543b54;

//kolory dla akcentów
$main-color: #f58549;
$secondary-color: #744579;